.grid--blog {
  margin-bottom: -55px;
  overflow: auto; }

.article__grid-tag {
  margin-right: 10px; }

.article__grid-meta {
  margin-bottom: 55px; }

@media only screen and (max-width: 749px) {
  .article__grid-meta--has-image {
    float: left;
    padding-left: 22px; } }

.article__grid-excerpt {
  margin-bottom: 17.5px; }

.article-image-wrapper.article__grid-image-wrapper {
  margin-left: 0;
  margin-right: 0; }

.article__grid-image-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%; }

.article__grid-image-wrapper--small {
  width: 50%; }

.article__grid-image-container {
  display: block;
  clear: both;
  position: relative;
  margin: 0 auto 27.5px 0;
  min-height: 1px;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 749px) {
    .article__grid-image-container {
      float: left;
      margin: 0 0 55px 0; } }
  .article__grid-image-container img {
    display: block; }

.article__grid-image {
  margin: 0 auto;
  width: 100%; }
  .js .article__grid-image {
    position: absolute;
    top: 0; }

.article__list-image-container {
  display: block;
  clear: both;
  position: relative;
  min-height: 1px;
  width: 100%;
  height: 100%; }

.article__list-image-wrapper {
  width: 100%;
  margin-bottom: 20px; }

.article__list-image {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0; }

/*============================================================================
  Blog/article card
==============================================================================*/
.blog-card {
  margin-bottom: 30px;
  margin-top: 30px; }
  @media only screen and (min-width: 750px) {
    .blog-card {
      margin-top: 0; } }

.blog-card__image-wrapper {
  margin-bottom: 30px;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }
  .blog-card__image-wrapper:hover .blog-card__title-wrapper::before, .blog-card__image-wrapper:focus .blog-card__title-wrapper::before {
    opacity: var(--hover-overlay-opacity); }
  .blog-card__image-wrapper:focus {
    opacity: 1; }

.blog-card__image-wrapper--small {
  padding-bottom: 50%; }

.blog-card__image-wrapper--medium {
  padding-bottom: 75%; }

.blog-card__title {
  color: var(--color-overlay-title-text);
  font-size: calc(((var(--font-size-header)) / (var(--font-size-base))) * 1em);
  hyphens: auto;
  margin-bottom: 11px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (min-width: 750px) {
    .blog-card__title {
      padding: 0 15px; } }

.blog-card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.blog-card__overlay {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.blog-card__title-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-image-overlay);
  opacity: var(--opacity-image-overlay); }

.blog-card__excerpt {
  margin-bottom: 17.5px; }

.blog-card__comment-count {
  border-color: transparent;
  border-bottom-color: currentColor;
  padding: 0 0 3px 0; }
  .blog-card__comment-count:not([disabled]):hover, .blog-card__comment-count:focus {
    border-color: transparent;
    border-bottom-color: currentColor; }

.cart-popup-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  background-color: var(--color-body);
  z-index: 9999;
  border: 1px solid var(--color-border);
  transform: translateY(0%);
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1); }
  @media only screen and (min-width: 750px) {
    .cart-popup-wrapper {
      width: 23rem;
      right: 0; } }

.cart-popup-wrapper--hidden {
  display: none;
  transform: translateY(-100%); }

.cart-popup {
  padding: 0.2rem 1.5rem 1rem; }

.cart-popup__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-border); }

.cart-popup__heading {
  flex-grow: 1;
  padding: 0.5rem 0rem;
  margin: 0;
  color: var(--color-body-text);
  line-height: 1.2em;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
  font-family: var(--font-stack-body);
  font-weight: var(--font-weight-body); }

.cart-popup__close {
  padding: 0.9rem;
  margin-right: -0.9rem;
  background-color: transparent;
  border: none;
  line-height: 0; }
  .cart-popup__close .icon-close {
    width: 1rem;
    height: 1rem;
    fill: currentColor; }
  .cart-popup__close:hover, .cart-popup__close:focus {
    color: var(--color-text-focus); }

.cart-popup-item {
  display: flex;
  margin: 1rem 0; }

.cart-popup-item__image-wrapper {
  position: relative;
  flex-basis: 18%;
  flex-shrink: 0;
  margin-right: 1rem;
  text-align: center; }

.cart-popup-item__image {
  display: block;
  margin: 0 auto;
  max-height: 95px; }

.cart-popup-item__description {
  display: flex;
  color: var(--color-body-text);
  flex-basis: 100%;
  justify-content: space-between;
  line-height: 1.2rem; }

.cart-popup-item__title {
  color: var(--color-text);
  font-size: calc(((var(--font-size-base) + 2) / (var(--font-size-base))) * 1em);
  font-family: var(--font-stack-header);
  font-weight: var(--font-weight-header);
  margin-bottom: 0; }

.product-details {
  margin-top: 0.25rem;
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em); }

.product-details__item {
  margin-bottom: 0.2rem;
  line-height: 1.5; }
  .product-details__item:last-child {
    margin-bottom: 0; }

.product-details__item--variant-option + .product-details__item--property {
  margin-top: 0.8rem; }

.product-details__property-label {
  font-weight: var(--font-weight-body--bold); }

.cart-popup-item__quantity {
  flex-basis: 30%;
  flex-shrink: 0;
  margin-left: 1rem;
  text-align: right;
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em); }

.cart-popup__cta-link {
  width: 100%; }

.cart-popup__dismiss {
  margin-top: 0.5rem;
  text-align: center; }

.cart-popup__dismiss-button {
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em); }

.sidebar {
  margin-top: 40px; }

.sidebar__list {
  list-style: none;
  margin-bottom: 55px; }
  .sidebar__list li {
    margin-bottom: 10px; }

.pagination {
  text-align: center;
  list-style: none;
  font-size: calc(((15) / (var(--font-size-base))) * 1em);
  padding-top: 55px; }
  .pagination li {
    display: inline-block; }
  .pagination .icon {
    display: block;
    height: 20px;
    vertical-align: middle; }

.pagination__text {
  padding: 0 27.5px; }

.comment {
  margin-bottom: 30px; }
  .comment:last-child {
    margin-bottom: 0; }

.comment__content {
  margin-bottom: 5px; }

.comment__meta-item {
  margin-right: 10px;
  font-size: calc(((14) / (var(--font-size-base))) * 1em); }
  .comment__meta-item:first-child::before {
    content: '\2014 \0020'; }

.social-sharing {
  display: flex; }
  .template-password .social-sharing {
    justify-content: center; }

.btn--share {
  background-color: transparent;
  border-color: var(--color-border);
  color: var(--color-text);
  margin-right: 5px;
  margin-bottom: 10px; }
  .btn--share:not([disabled]):hover, .btn--share:focus {
    background-color: transparent;
    border-color: var(--color-btn-social-focus);
    color: var(--color-text); }
  .btn--share .icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 4px; }
  .btn--share .icon-facebook {
    fill: #3b5998; }
  .btn--share .icon-twitter {
    fill: #00aced; }
  .btn--share .icon-pinterest {
    fill: #cb2027; }

.share-title {
  display: inline-block;
  vertical-align: middle; }
