.mega-title,
.mega-subtitle {
  color: var(--color-overlay-title-text); }
  .hero .mega-title, .hero
  .mega-subtitle {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 750px) {
    .mega-title,
    .mega-subtitle {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.4); } }

.mega-title {
  margin-bottom: 8px; }

.mega-title--large {
  font-size: calc(((var(--font-size-header) + 8) / (var(--font-size-base))) * 1em); }
  @media only screen and (min-width: 750px) {
    .mega-title--large {
      font-size: calc(((var(--font-mega-title-large-desktop)) / (var(--font-size-base))) * 1em); } }

@media only screen and (min-width: 750px) {
  .mega-subtitle {
    font-size: calc(((var(--font-size-base) + 4) / (var(--font-size-base))) * 1em);
    margin: 0 auto; }
    .text-center .mega-subtitle {
      max-width: 75%; } }

.mega-subtitle p {
  color: var(--color-overlay-title-text); }

.mega-subtitle a {
  color: var(--color-overlay-title-text);
  border-bottom: 1px solid currentColor; }
  .mega-subtitle a:hover, .mega-subtitle a:focus {
    color: var(--color-overlay-text-focus); }

.mega-subtitle--large {
  font-size: calc(((var(--font-size-base) + 2) / (var(--font-size-base))) * 1em);
  font-weight: var(--font-weight-header); }
  @media only screen and (min-width: 750px) {
    .mega-subtitle--large {
      font-size: calc(((var(--font-size-base) + 8) / (var(--font-size-base))) * 1em); } }
