svg:not(:root) {
  overflow: hidden; }

.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*================ Adds a background color pulsating animation ================*/
[data-image-loading-animation] {
  background-color: var(--global-color-image-loader-primary);
  -moz-animation: image-loader 2s 400ms infinite;
  -o-animation: image-loader 2s 400ms infinite;
  -webkit-animation: image-loader 2s 400ms infinite;
  animation: image-loader 2s 400ms infinite; }
  .no-js [data-image-loading-animation] {
    animation-name: none; }
