.fine-print {
  font-size: calc(((14) / (var(--font-size-base))) * 1em);
  font-style: italic; }

.txt--minor {
  font-size: 80%; }

.txt--emphasis {
  font-style: italic; }

.address {
  margin-bottom: 55px; }

.newsletter-section {
  padding-top: 55px; }

.index-section--newsletter-background {
  background-color: var(--color-bg-alt); }

.product-card {
  position: relative; }
  .product-card:hover .product-card__image-wrapper, .product-card:focus-within .product-card__image-wrapper {
    opacity: 0.8; }
  .product-card:hover .product-card__title, .product-card:focus-within .product-card__title {
    border-bottom-color: var(--color-text); }

.product-card__image-with-placeholder-wrapper {
  position: relative; }

.product-card__title {
  border-bottom: 1px solid transparent;
  display: inline;
  font-family: var(--font-stack-header);
  font-style: var(--font-style-header);
  font-weight: var(--font-weight-header); }

.product-recommendations__inner {
  padding: 35px 0; }
  @media only screen and (min-width: 750px) {
    .product-recommendations__inner {
      padding: 55px 0; } }

.disclosure {
  position: relative; }

.disclosure__toggle {
  white-space: nowrap; }

.disclosure-list {
  background-color: var(--color-text-field);
  border: 1px solid var(--color-border-form);
  bottom: 115%;
  padding: 11px 0px;
  position: absolute;
  display: none;
  min-height: 92px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 2px; }

.disclosure-list--visible {
  display: block; }

.disclosure-list__item {
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 45px 4px 15px;
  text-align: left; }
  .disclosure-list__item:active {
    background-color: var(--color-bg-currency-selector); }

.disclosure-list__option {
  color: var(--color-text-field-text); }
  .disclosure-list__option:focus, .disclosure-list__option:hover {
    color: var(--color-text-field-text) !important;
    border-bottom: 1px solid var(--color-text-field-text); }

.disclosure-list__item--current .disclosure-list__option {
  border-bottom: 1px solid var(--color-text-field-text); }
