.site-header {
  position: relative;
  background-color: var(--color-body); }
  @media only screen and (max-width: 749px) {
    .site-header {
      border-bottom: 1px solid var(--color-border); } }
  @media only screen and (min-width: 750px) {
    .site-header {
      padding: 0 55px; }
      .site-header.logo--center {
        padding-top: 30px; } }

.site-header__logo {
  margin: 15px 0; }
  .logo-align--center .site-header__logo {
    text-align: center;
    margin: 0 auto; }
    @media only screen and (max-width: 749px) {
      .logo-align--center .site-header__logo {
        text-align: left;
        margin: 15px 0; } }
  @media only screen and (max-width: 749px) {
    .site-header__logo {
      padding-left: 22px;
      text-align: left; }
      .site-header__logo img {
        margin: 0; } }

.site-header__logo-link {
  display: inline-block;
  word-break: break-word; }
  @media only screen and (min-width: 750px) {
    .logo-align--center .site-header__logo-link {
      margin: 0 auto; } }

.site-header__logo-image {
  display: block; }
  @media only screen and (min-width: 750px) {
    .site-header__logo-image {
      margin: 0 auto; } }

.site-header__logo-image img {
  width: 100%; }

.site-header__logo-image--centered img {
  margin: 0 auto; }

.site-header__logo img {
  display: block; }

.site-header__icons {
  position: relative;
  white-space: nowrap; }
  @media only screen and (max-width: 749px) {
    .site-header__icons {
      width: auto;
      padding-right: 13px; }
      .site-header__icons .btn--link,
      .site-header__icons .site-header__cart {
        font-size: calc(((var(--font-size-base)) / (var(--font-size-base))) * 1em); } }

.site-header__icons-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end; }

.site-header__cart,
.site-header__search,
.site-header__account {
  position: relative; }

.site-header__search.site-header__icon {
  display: none; }
  @media only screen and (min-width: 1400px) {
    .site-header__search.site-header__icon {
      display: block; } }

.site-header__search-toggle {
  display: block; }

@media only screen and (min-width: 750px) {
  .site-header__account,
  .site-header__cart {
    padding: 10px 11px; } }

.site-header__cart-title,
.site-header__search-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: block;
  vertical-align: middle; }

.site-header__cart-title {
  margin-right: 3px; }

.site-header__cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.4rem;
  top: 0.2rem;
  font-weight: bold;
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border-radius: 50%;
  min-width: 1em;
  height: 1em; }
  .site-header__cart-count span {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(11em / 16);
    line-height: 1; }

@media only screen and (max-width: 749px) {
  .site-header__cart-count {
    top: calc(7em / 16);
    right: 0;
    border-radius: 50%;
    min-width: calc(19em / 16);
    height: calc(19em / 16); } }

@media only screen and (max-width: 749px) {
  .site-header__cart-count span {
    padding: 0.25em calc(6em / 16);
    font-size: 12px; } }

.site-header__menu {
  display: none; }

@media only screen and (max-width: 749px) {
  .site-header__icon {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 11px;
    margin: 0; } }

@media only screen and (min-width: 750px) {
  .site-header__icon .icon-search {
    margin-right: 3px; } }

.announcement-bar {
  z-index: 10;
  position: relative;
  text-align: center;
  border-bottom: 1px solid transparent;
  padding: 2px; }

.announcement-bar__link {
  display: block; }

.announcement-bar__message {
  display: block;
  padding: 11px 22px;
  font-size: calc(((16) / (var(--font-size-base))) * 1em);
  font-weight: var(--font-weight-header); }
  @media only screen and (min-width: 750px) {
    .announcement-bar__message {
      padding-left: 55px;
      padding-right: 55px; } }

.article-listing {
  padding-top: 55px;
  margin-bottom: 55px; }

.article {
  margin-bottom: 55px; }

.article__meta {
  margin-bottom: 22px; }

.article__title {
  margin-bottom: 11px; }

@media only screen and (max-width: 749px) {
  .article__title--has-image {
    padding-left: 22px; } }

.article__author {
  margin-right: 10px; }

.article__author,
.article__date {
  display: inline-block;
  margin-bottom: 22px; }
  .template-article .article__author,
  .article__meta .article__author, .template-article
  .article__date,
  .article__meta
  .article__date {
    margin-bottom: 0; }

.article__tags {
  margin-bottom: 27.5px; }

.article__tags--list {
  font-style: italic; }

.article__link {
  display: block; }
  @media only screen and (max-width: 749px) {
    .article__link {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .article__link:not([disabled]):hover .article__grid-image-wrapper::before, .article__link:focus .article__grid-image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-image-overlay);
    opacity: var(--opacity-image-overlay);
    z-index: 1; }

.article__link--fixed-overlay:not([disabled]):hover .article__grid-image-wrapper::before, .article__link--fixed-overlay:focus .article__grid-image-wrapper::before {
  bottom: auto; }

.article__meta-buttons li:first-child {
  margin-right: 1.5rem; }

.article__comment-count {
  border-color: transparent;
  border-bottom-color: currentColor;
  padding: 0 0 3px 0; }
  .article__comment-count:not([disabled]):hover, .article__comment-count:focus {
    border-color: transparent;
    border-bottom-color: currentColor; }

.rte--article {
  margin-bottom: 20px; }

/*================ Module | Filters and Sort toolbar and selection ================*/
.filters-toolbar-wrapper {
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  margin-bottom: 22px; }
  @media only screen and (min-width: 750px) {
    .filters-toolbar-wrapper {
      margin-bottom: 55px; } }

.filters-toolbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .filters-toolbar .icon-chevron-down {
    fill: var(--color-text-field-text);
    width: calc(10em / 16);
    height: calc(10em / 16);
    right: 8px; }

.filters-toolbar--has-filter {
  position: relative; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar--has-filter {
      border-bottom: none; }
      .filters-toolbar--has-filter .filters-toolbar__item-child {
        flex-basis: 50%; }
      .filters-toolbar--has-filter .filters-toolbar__item-wrapper {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        flex-basis: 100%; }
      .filters-toolbar--has-filter .filters-toolbar__item--count {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        flex-basis: 100%;
        text-align: left; }
        .filters-toolbar--has-filter .filters-toolbar__item--count:before {
          background-color: var(--color-border);
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          top: auto;
          width: 100%; } }

.filters-toolbar__item {
  min-width: 33%;
  -webkit-flex: 1 1 33%;
  -moz-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__item:first-child .filters-toolbar__input {
      padding-left: 0; } }

@media only screen and (max-width: 749px) {
  .filters-toolbar__item-child {
    flex-grow: 0; } }

@media only screen and (max-width: 749px) {
  .filters-toolbar__item-child:first-child {
    margin-right: 2.5rem; } }

@media only screen and (min-width: 750px) {
  .filters-toolbar__item-child:first-child {
    margin-right: 3rem; } }

@media only screen and (max-width: 749px) {
  .filters-toolbar__item-child .filters-toolbar__input {
    padding-left: 0;
    padding-right: 25px;
    width: 100%; } }

.filters-toolbar__item-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex: 1 1 33%;
  -moz-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__item-wrapper {
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between; } }

.filters-toolbar__item--count {
  min-width: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__item--count {
      -webkit-flex: 0 1 50%;
      -moz-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      text-align: right; } }

.filters-toolbar__label {
  display: inline-block; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__label {
      display: block;
      margin-bottom: 0;
      margin-top: 8px; } }

.filters-toolbar__input-wrapper {
  display: inline-block; }

.filters-toolbar__input {
  border: 0 solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: 55px;
  opacity: 1;
  position: relative; }
  .filters-toolbar__item:first-child .filters-toolbar__input {
    padding-left: 0; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__input {
      height: 46px; } }
  .filters-toolbar__input.hidden {
    opacity: 0; }
  .filters-toolbar__input option {
    text-overflow: ellipsis;
    overflow: hidden; }

.filters-toolbar__product-count {
  font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
  font-style: italic;
  line-height: 55px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  @media only screen and (max-width: 749px) {
    .filters-toolbar__product-count {
      font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
      line-height: 46px; } }
